/* Purpose: make each section outlined in the linked html file more aesthetic */
:root{ /*variables for colors*/
    --beige: #fffbf6;
    --yellow: #eed07a;
    --dark-yellow: #e0bc6a;
    --cyan: #64a7a7;
    --dark-cyan: #6a9797;
    --black: #474747;
    --gray: #a6a9a6;
}
@font-face { /*import pixel font, called "nine by five"*/
  font-family: "MyFont";
  src: url("../assets/nine0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*{ /*general settings for everything on the page*/
    color:var(--black);
    font-family: "MyFont", monospace;
    font-size:1rem;
}
body{
    overflow-x: hidden;
    height:90rem;
    display:flex;
    flex-direction:column;

    background-color:var(--beige);
}

/*settings (upper half)*/
.menu-container{
    height: 40rem;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    background-color:var(--beige);
}

.side-design{
    width:10%;
    height:40rem;
    background-image:url(../assets/sideDesignNotebook.png);
    background-repeat:repeat;
}
.settings-container{
    width:70%;
    height:95%;
    margin:2rem;
    margin-left:5rem;
    display:flex;
    flex-direction:column;
    background-color:var(--beige);
}
.title-container{
    font-size:5rem;
}
.pdf-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    background-color:white;
    border:0.2rem dashed var(--dark-cyan);
    border-radius:1rem;
    padding:1rem;
    margin-top:1.5rem;
    gap:1rem;
}
#upload-button{
    width:30%;
    height:auto;
    background-color:var(--cyan);
    padding:0.5rem;
    border:0.2rem dashed var(--black);
    border-radius:0.7rem;
}
#upload-button h1{
    background-color:var(--cyan);
    font-size:2rem;
    font-weight:500;
}
#upload-button h2{
    background-color:var(--cyan);
    font-size:1.5rem;
    font-weight:500;
}
#upload-button:hover,#upload-button:hover h1,#upload-button:hover h2{
    background-color:var(--dark-cyan);
    transition: all 0.3s ease;
}
.pdf-display-container{
    width: 70%;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    padding:0.2rem;
    gap:0.2rem;
    background-color:white;
}

.difficulty-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    padding:1rem;
    margin-top:1.5rem;
    gap:1rem;
    background-color:white;
    border:0.2rem dashed var(--yellow);
    border-radius:1rem;
}

#generate-button{
    width:30%;
    height: 8rem;
    border:0.2rem dashed var(--black);
    background-color:var(--yellow);
    border-radius:0.7rem;
}

#generate-button h1{
    background-color:var(--yellow);
    font-size: 2rem;
    font-weight: 500;
}

#generate-button:hover,#generate-button:hover h1,#generate-button:hover h2{
    background-color:var(--dark-yellow);
    transition: all 0.3s ease;
}

.num-difficulty-container{
    display:flex;
    width:70%;
    height:8rem;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    gap:0.5rem;
    border-radius:0.7rem;
    background-color:white;
}

.number-question-container{
    font-size:4rem;
    width:90%;
    height:2.8rem;
    background-color:white;
    border-radius:0.7rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size:1.5rem;
}
.number-question-container h2{
    background-color:white;
    font-size:1.5rem;
    font-weight:500;
}

.difficulty-select-container{
    font-size:4rem;
    width:90%;
    height:2.8rem;
    background-color:white;
    border-radius:0.7rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size:1.5rem;
}

.difficulty-select-container h2{
    background-color:white;
    font-size:1.5rem;
    font-weight:500;
}

.number-button{
    font-size:1.25rem;
    width:10%;
    height:2.5rem;
    background-color:white;
    padding:0.5rem;
    border:0.15rem dashed var(--yellow);
    border-radius:0.7rem;
}
.difficulty-button{
    font-size:1.25rem;
    width:17.5%;
    height:2.5rem;
    background-color:white;
    padding:0.5rem;
    border:0.15rem dashed var(--yellow);
    border-radius:0.7rem;
}
.difficulty-button:hover,.number-button:hover{
    background-color:var(--yellow);
    border:0.15rem dashed var(--black);
    transition: all 0.5s ease;
}

.bottom-container{
    display:flex;
    flex-direction:row;
    justify-content:left;
    align-items: space-evenly;
    gap:2rem;
    height:49.5rem;
}


.stats-container{
    z-index: 0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    width: 30%;
    height: 46rem;
    position:relative;
    padding:2rem;
    border-radius:1rem;
}

.stats-container h1{
    margin-top: .15rem;
    margin-bottom: .05rem;
    background-color:var(--cyan);
    font-size:4.5rem;
    font-weight:500;
}

.stats-container h2{
    margin-top: .01rem;
    margin-bottom: .15rem;
    background-color:var(--cyan);
    color: white;
    font-size:2.5rem;
    font-weight:500;
}


.stats-container::before{
    z-index: -1;
    content: "";
    position: absolute;
    top: -.25rem;
    bottom: -0rem;
    left: -2vw;   /* pushes border off screen*/
    right: 0rem;
    padding:0.5rem;
    border: 0.2rem dashed var(--black);
    background-color: var(--cyan);
    border-radius:0.7rem;
}

.answers-container{
    overflow-y: auto;
    height: 15rem;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.2rem dashed var(--black);
    border-radius:0.7rem;
}

.questions-container{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    z-index: 0;
    height: 100%;
    width: 60%;
    height: 46rem;
    position:relative;
    padding:2rem;
    border-radius:1rem;    
}

.submit-button{
    font-size:3rem;
    width:50%;
    height:5rem;
    background-color:var(--yellow);
    padding:0.5rem;
    border:0.15rem dashed var(--black);
    border-radius:0.7rem; 
}

.submit-button:hover{
    background-color:var(--dark-yellow);
    transition: all 0.3s ease;
}

.questions-container::before{
    z-index: -1;
    content: "";
    position: absolute;
    top: -.25rem;
    bottom: -0rem;
    left: 0rem;   /* pushes border off screen */
    right: -3vw;
    padding:0.5rem;
    border: 0.2rem dashed var(--yellow);
    background-color: var(--beige);
    border-radius:0.7rem;
}

.quiz-title-container{
    z-index: 1;
    display:flex;
    flex-direction:row;
    justify-content:left;
    align-items: center;
    width: 90%;
    height: 6rem;

}

.quiz-title-container h1{
    font-size:6rem;
    font-weight:500;
}


.quiz-question-container{
    display:flex;
    flex-direction:row;
    justify-content:left;
    align-items: center;
    width: 90%;
    height: 5rem;
}

.quiz-question-container p{
    font-size:2.5rem;
    font-weight:500;
}

.square-element{
    display:flex;
    justify-content:center;
    align-items:center;
    width:3rem;
    height:3rem;
    background-color: var(--yellow);
    border-radius: 1rem;
    font-size: 2rem;
    margin-right:.25rem;
}

.options-flex-container{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    width: 90%;
    height: 20rem;
    gap:1rem;
}
.options-grid-container{
    display:grid;
    grid-template-columns: 3rem 58rem;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    gap:1rem;
}

.options-grid-container p{
    margin-top: 0rem;
    font-size: 1.5rem;
    font-weight:500;
}

.option-button{
    font-size:1.25rem;
    width:3rem;
    height:3rem;
    background-color:white;
    padding:0.5rem;
    border:0.15rem dashed var(--yellow);
    border-radius:0.7rem;

}

.option-button:hover{
    background-color:var(--yellow);
    border:0.15rem dashed var(--black);
    transition: all 0.5s ease;
}

.back-next-container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.back-next-button{
    height:4rem;
    width:9rem;
    background-color: var(--yellow);
    border:0.15rem dashed var(--black);
    border-radius:0.7rem;
    font-size: 2rem;
}

.back-next-button:hover{
    background-color:var(--dark-yellow);
    transition: all 0.3s ease;
}