/* Purpose: make each section outlined in the linked html file more aesthetic */

*{ /*general settings for everything on the page*/
    background-color:beige;
    color:rgb(0, 0, 0);
}

.test{
    font-size:2rem;
}

.superduperimportant{
    font-size:4rem;
    color:rgb(0, 119, 255);
}