/* Purpose: make each section outlined in the linked html file more aesthetic */
:root{ /*variables for colors*/
    --beige: #fffbf6;
    --yellow: #eed07a;
    --dark-yellow: #e0bc6a;
    --cyan: #64a7a7;
    --dark-cyan: #6a9797;
    --black: #474747;
    --gray: #a6a9a6;
}
@font-face { /*import pixel font, called "nine by five"*/
  font-family: "MyFont";
  src: url("../assets/nine0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*{ /*general settings for everything on the page*/
    color:var(--black);
    font-family: "MyFont", monospace;
    font-size:1rem;
}
body{
    background-color:var(--beige);
}

/*settings (upper half)*/
.menu-container{
    height: 40rem;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    background-color:var(--beige);
}
.side-design{
    width:10%;
    height:40rem;
    background-image:url(../assets/sideDesignNotebook.png);
    background-repeat:repeat;
}
.settings-container{
    width:75%;
    height:100%;
    margin:2rem;
    margin-left:5rem;
    display:flex;
    flex-direction:column;
    background-color:var(--beige);
}
.title-container{
    font-size:5rem;
}
.pdf-container{
    width:100%;
    height:14rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    background-color:white;
    border:0.2rem dashed var(--dark-cyan);
    border-radius:1rem;
    padding:1rem;
    margin-top:1.5rem;
    gap:1rem;
}
input{
    display:none;
}
#upload-button{
    width:30%;
    height:auto;
    background-color:var(--cyan);
    padding:0.5rem;
    border:0.2rem dashed var(--black);
    border-radius:0.7rem;
}
#upload-button h1{
    background-color:var(--cyan);
    font-size:2rem;
    font-weight:500;
}
#upload-button h2{
    background-color:var(--cyan);
    font-size:1.5rem;
    font-weight:500;
}
#upload-button:hover,#upload-button:hover h1,#upload-button:hover h2{
    background-color:var(--dark-cyan);
    transition: all 0.3s ease;
}
.pdf-display-container{
    width: 70%;
    height:auto;
    padding:0.2rem;
    gap:0.2rem;
    background-color:white;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0.5rem;
    scroll-behavior: smooth;
    overflow:scroll;
    border:0.2rem dashed var(--dark-cyan);
    border-radius:0.7rem;
}
.pdf-wrapper{
    flex: 0 0 auto;
    overflow:hidden;
}
.pdf-wrapper embed:hover{
    width:100%;
    height:100%;
    opacity:0.8;
    transition: all 0.3s ease;
}

.difficulty-container{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    padding:1rem;
    margin-top:1.5rem;
    gap:1rem;
    background-color:white;
    border:0.2rem dashed var(--yellow);
    border-radius:1rem;
}

#generate-button{
    width:30%;
    height: 8rem;
    border:0.2rem dashed var(--black);
    background-color:var(--yellow);
    border-radius:0.7rem;
}

#generate-button h1{
    background-color:var(--yellow);
    font-size: 2rem;
    font-weight: 500;
}

#generate-button:hover,#generate-button:hover h1,#generate-button:hover h2{
    background-color:var(--dark-yellow);
    transition: all 0.3s ease;
}

.num-difficulty-container{
    display:flex;
    width:70%;
    height:8rem;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    gap:0.5rem;
    border-radius:0.7rem;
    background-color:white;
}

.number-question-container{
    font-size:4rem;
    width:90%;
    height:2.8rem;
    background-color:white;
    border-radius:0.7rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size:1.5rem;
}
.number-question-container h2{
    background-color:white;
    font-size:1.5rem;
    font-weight:500;
}

.difficulty-select-container{
    font-size:4rem;
    width:90%;
    height:2.8rem;
    background-color:white;
    border-radius:0.7rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size:1.5rem;
}

.difficulty-select-container h2{
    background-color:white;
    font-size:1.5rem;
    font-weight:500;
}

.number-button{
    font-size:1.25rem;
    width:10%;
    height:2.5rem;
    background-color:white;
    padding:0.5rem;
    border:0.15rem dashed var(--yellow);
    border-radius:0.7rem;
}
.difficulty-button{
    font-size:1.25rem;
    width:17.5%;
    height:2.5rem;
    background-color:white;
    padding:0.5rem;
    border:0.15rem dashed var(--yellow);
    border-radius:0.7rem;
}
.difficulty-button:hover,.number-button:hover{
    background-color:var(--yellow);
    border:0.15rem dashed var(--black);
    transition: all 0.5s ease;
}